azdias.csv
customers.csv
mailout_test.csv
mailout_train.csv
submission.csv
terms_and_conditions
Arvato Project Workbook Submission.ipynb
~$DIAS Attributes - Values 2017.xlsx
~$DIAS Information Levels - Attributes 2017.xlsx